In [1]:
import pandas as pd 

df = pd.read_csv('bh_tab.csv')
df

,SDSS_Name,RA,DEC,Mass,z,co-d,age_of_un
0,001104.82+245616.9,2.770108,24.938031,4.095252e+07,0.755323,8.830938e+09,6.991786
1,092109.60+580307.9,140.290010,58.052203,4.095279e+07,1.497759,1.450578e+10,4.274347
2,094348.92+254310.3,145.953840,25.719546,4.095362e+07,3.082000,2.147389e+10,2.080111
3,145927.48+211344.9,224.864530,21.229157,4.095520e+07,2.515000,1.949492e+10,2.596005
4,092809.76+010635.6,142.040700,1.109905,4.095564e+07,0.691000,8.216403e+09,7.349067
...,...,...,...,...,...,...,...
40995,104303.43+384012.1,160.764330,38.670053,1.003070e+08,2.886000,2.083693e+10,2.237733
40996,125837.67+414309.5,194.656990,41.719314,1.003070e+08,1.070900,1.153411e+10,5.574716
40997,091309.71+585147.0,138.290490,58.863064,1.003073e+08,0.796762,9.214757e+09,6.775559
40998,004021.84+015651.0,10.091043,1.947510,1.003073e+08,0.762000,8.893411e+09,6.956234
40999,075656.69+113508.2,119.236220,11.585621,1.003104e+08,0.713100,8.430159e+09,7.223219

In [6]:
df.where(df['Mass']== 57897377.10990895).dropna()

,Index,RA,DEC,Mass,z,co-d,age_of_un
11941,71162.0,39.057129,-0.042585,5.789738e+07,0.893,1.007114e+10,6.311558

In [2]:
df.to_json('bh.json')